<ul class="list">
  {{#each products}}
    <li class="item">
      <h2 class="title">{{name}}</h2>
      <p class="cost">{{price}}</p>
      <p class="desc">{{description}}</p>
    </li>
  {{/each}}
</ul>